#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define DEF 0
#define NAV 1
#define SYM 2
#define ADJ 3
#define EXTRA 4

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <180>;
            global-quick-tap;
        };

        para: para {
            compatible = "zmk,behavior-tap-dance";
            label = "PARA";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;
        };

        caps: caps {
            compatible = "zmk,behavior-caps-word";
            label = "CAPS";
            #binding-cells = <0>;
            continue-list = <MINUS BACKSPACE>;
        };

        paraless: paraless {
            compatible = "zmk,behavior-mod-morph";
            label = "PARALESS";
            bindings = <&kp LEFT_PARENTHESIS>, <&kp LESS_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        paragreat: paragreat {
            compatible = "zmk,behavior-mod-morph";
            label = "PARAGREAT";
            bindings = <&kp RIGHT_PARENTHESIS>, <&kp GREATER_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        shiftcaps: shiftcaps {
            compatible = "zmk,behavior-tap-dance";
            label = "SHIFTCAPS";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPSLOCK>;
        };
    };

    macros {
        browsertab: browsertab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_release>,
                <&kp LCTRL>;
        };

        controlpanel: controlpanel {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL &kp LEFT_SHIFT &kp ESC>,
                <&macro_release>,
                <&kp LCTRL &kp LEFT_SHIFT &kp ESC>;

            label = "CONTROLPANEL";
        };

        copy: copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp C>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "COPY";
        };

        cut: cut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp X>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "CUT";
        };

        paste: paste {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp V>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "PASTE";
        };
    };

    combos {
        compatible = "zmk,combos";

        paste {
            bindings = <&paste>;
            key-positions = <28 27>;
        };

        copy {
            bindings = <&copy>;
            key-positions = <26 27>;
        };

        blackslash {
            bindings = <&kp BACKSLASH>;
            key-positions = <22 23>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <7 8>;
        };

        underscore {
            bindings = <&kp EQUAL>;
            key-positions = <8 9>;
        };

        leftbrack {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <31 32>;
        };

        rightbrack {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <33 32>;
        };

        para-less {
            bindings = <&paraless>;
            key-positions = <20 19>;
        };

        para-great {
            bindings = <&paragreat>;
            key-positions = <20 21>;
        };

        controlpanel {
            bindings = <&controlpanel>;
            key-positions = <24 12 0>;
        };

        windowsup {
            bindings = <&kp LG(UP_ARROW)>;
            key-positions = <36 15>;
        };

        windowsleft {
            bindings = <&kp LG(LEFT)>;
            key-positions = <36 26>;
        };

        windowsdown {
            bindings = <&kp LG(DOWN)>;
            key-positions = <36 27>;
        };

        windowsright {
            bindings = <&kp LG(RIGHT)>;
            key-positions = <36 28>;
        };

        f1 {
            bindings = <&kp F1>;
            key-positions = <0 12>;
        };

        f2 {
            bindings = <&kp F2>;
            key-positions = <1 13>;
        };

        f3 {
            bindings = <&kp F3>;
            key-positions = <14 2>;
        };

        f4 {
            bindings = <&kp F4>;
            key-positions = <3 15>;
        };

        f5 {
            bindings = <&kp F5>;
            key-positions = <4 16>;
        };

        f6 {
            bindings = <&kp F6>;
            key-positions = <5 17>;
        };

        f7 {
            bindings = <&kp F7>;
            key-positions = <6 18>;
        };

        f8 {
            bindings = <&kp F8>;
            key-positions = <7 19>;
        };

        f9 {
            bindings = <&kp F9>;
            key-positions = <8 20>;
        };

        f10 {
            bindings = <&kp F10>;
            key-positions = <9 21>;
        };

        f11 {
            bindings = <&kp F11>;
            key-positions = <10 22>;
        };

        f12 {
            bindings = <&kp F12>;
            key-positions = <11 23>;
        };

        cut {
            bindings = <&cut>;
            key-positions = <26 25>;
        };

        question {
            bindings = <&kp QUESTION>;
            key-positions = <33 34>;
        };

        del {
            bindings = <&kp DELETE>;
            key-positions = <11 10>;
        };

        grave {
            bindings = <&kp GRAVE>;
            key-positions = <0 1>;
        };
    };

    //

    keymap {
        compatible = "zmk,keymap";

        DEF {
            display-name = "Base";

            // -----------------------------------------------------------------------------------------
            // |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |
            // |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |
            // |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |
            // | GUI | CTRL | SHFT | LWR | SPC |   | ENT | RSE  | BKSP | ALT | ESC |

            bindings = <
&kp TAB              &kp Q  &kp W  &kp E     &kp R      &kp T          &kp Y        &kp U  &kp I         &kp O    &kp P     &kp BACKSPACE
&mt LEFT_SHIFT CAPS  &kp A  &kp S  &kp D     &kp F      &kp G          &kp H        &kp J  &kp K         &kp L    &kp SEMI  &kp SQT
&kp LCTRL            &kp Z  &kp X  &kp C     &kp V      &kp B          &kp N        &kp M  &kp COMMA     &kp DOT  &kp FSLH  &mt RIGHT_SHIFT CAPSLOCK
                                   &kp LGUI  &kp SPACE  &lt 1 SPACE    &lt 2 ENTER  &mo 2  &kp LEFT_ALT
            >;
        };

        NAV {
            display-name = "NavNum";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            // | GUI | CTRL | SHFT | LWR | SPC |   | ENT | RSE  | BKSP | ALT | ESC |

            bindings = <
&kp ESC  &kp N1  &kp N2          &kp UP          &kp N4           &kp N5           &kp N6  &kp N7      &kp N8  &kp N9  &kp N0  &trans
&trans   &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp PAGE_UP      &kp N0  &kp N4      &kp N5  &kp N6  &trans  &trans
&trans   &trans  &trans          &trans          &trans           &kp PAGE_DOWN    &trans  &kp N1      &kp N2  &kp N3  &trans  &trans
                                 &kp LGUI        &trans           &kp SPACE        &kp N0  &kp PERIOD  &trans
            >;
        };

        SYM {
            display-name = "Symbols";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp ESC  &trans  &trans          &kp UP_ARROW  &trans           &trans       &kp CARET  &kp AMPS    &kp ASTRK    &kp LEFT_PARENTHESIS  &kp RPAR  &trans
&trans   &trans  &kp LEFT_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &kp GRAVE    &kp MINUS  &kp DOLLAR  &kp PERCENT  &kp CARET             &kp BSLH  &trans
&trans   &trans  &trans          &trans        &trans           &kp TILDE    &kp UNDER  &kp EXCL    &kp AT       &kp HASH              &kp PIPE  &trans
                                 &kp LGUI      &trans           &kp SPACE    &kp RET    &trans      &trans
            >;
        };

        ADJ {
            display-name = "System";
            bindings = <
&trans  &kp F1        &kp F2        &kp F3        &kp F4      &kp F5            &kp F6  &kp F7  &kp F8  &kp F9  &kp F10      &trans
&trans  &kp F11       &kp F12       &trans        &trans      &studio_unlock    &trans  &trans  &trans  &trans  &trans       &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_CLR  &bt BT_CLR_ALL    &trans  &trans  &trans  &trans  &bootloader  &trans
                                    &trans        &trans      &trans            &trans  &trans  &trans
            >;
        };

        EXTRA {
            display-name = "Extra";
            bindings = <
&trans  &trans  &trans          &mmv MOVE_UP    &trans           &msc SCRL_UP      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_DOWN    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans          &trans          &trans           &trans            &trans  &trans  &trans  &trans  &trans  &trans
                                &trans          &trans           &trans            &trans  &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        l3 {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
